<nav
  aria-label="Site Nav"
  class="hidden gap-8 text-sm font-medium md:flex"
>
  <a class="text-gray-500" href="">About</a>
  <%= link_to "Games", games_path, class: "text-gray-500" %>
  <a class="text-gray-500" href="">Contact</a>
</nav>
