<div id="<%= dom_id game %>" class="flex justify-between">
  <p class="my-5">
    <strong class="block font-medium mb-1">Away team:</strong>
    <%= game.away_team %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Game Time:</strong>
    <%= game.game_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Home team:</strong>
    <%= game.home_team %>
  </p>


  <% if action_name != "show" %>
    <%#= link_to "Show this game", game, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
